@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animaciones personalizadas */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.8s ease-out forwards;
  }
}